.box {
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    margin-left: 200px;
    margin-top: 20px;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
}

.img{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
}

.name {
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv {
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz {
    margin-left: 10px;
    margin-top: -20px;
}

.eye {
    margin-left: 170px;
    margin-top: -40px;
}

.btn {
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top {
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

p {
    margin-left: 195px;
    margin-top: -335px;
}


/* card2 */

.box2 {
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 500px;
    margin-top: -350px;
}

.img2{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name2 {
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv2 {
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz2 {
    margin-left: 10px;
    margin-top: -20px;
}

.eye2 {
    margin-left: 170px;
    margin-top: -40px;
}

.btn2 {
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top2 {
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji2 {
    margin-left: 195px;
    margin-top: -335px;
}


/* card3 */


.box3 {
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 800px;
    margin-top: -350px;
}

.img3{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name3 {
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv3{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz3 {
    margin-left: 10px;
    margin-top: -20px;
}

.eye3 {
    margin-left: 170px;
    margin-top: -40px;
}

.btn3 {
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top3 {
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji3 {
    margin-left: 195px;
    margin-top: -335px;
}

/* card4 */
.box4 {
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 1100px;
    margin-top: -350px;
}

.img4{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name4 {
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv4{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz4 {
    margin-left: 10px;
    margin-top: -20px;
}

.eye4 {
    margin-left: 170px;
    margin-top: -40px;
}

.btn4 {
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top4 {
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji4 {
    margin-left: 195px;
    margin-top: -335px;
}



/* card5 */
.box5 {
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 1400px;
    margin-top: -350px;
}

.img5{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name5 {
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv5{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz5 {
    margin-left: 10px;
    margin-top: -20px;
}

.eye5 {
    margin-left: 170px;
    margin-top: -40px;
}

.btn5 {
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top5 {
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji5 {
    margin-left: 195px;
    margin-top: -335px;
}

/* card6 */
.box6 {
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 200px;
    margin-top: 50px;
}

.img6{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name6 {
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv6{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz6 {
    margin-left: 10px;
    margin-top: -20px;
}

.eye6 {
    margin-left: 170px;
    margin-top: -40px;
}

.btn6 {
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top6 {
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji6 {
    margin-left: 195px;
    margin-top: -335px;
}


/* card7 */
.box7{
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 500px;
    margin-top: -350px;
}

.img7{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name7{
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv7{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz7{
    margin-left: 10px;
    margin-top: -20px;
}

.eye7{
    margin-left: 170px;
    margin-top: -40px;
}

.btn7{
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top7{
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji7 {
    margin-left: 195px;
    margin-top: -335px;
}


/* card8 */
.box8{
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 800px;
    margin-top: -350px;
}

.img8{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name8{
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv8{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz8{
    margin-left: 10px;
    margin-top: -20px;
}

.eye8{
    margin-left: 170px;
    margin-top: -40px;
}

.btn8{
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top8{
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji8 {
    margin-left: 195px;
    margin-top: -335px;
}



/* card9 */
.box9{
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 1100px;
    margin-top: -350px;
}

.img9{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name9{
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv9{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz9{
    margin-left: 10px;
    margin-top: -20px;
}

.eye9{
    margin-left: 170px;
    margin-top: -40px;
}

.btn9{
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top9{
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji9 {
    margin-left: 195px;
    margin-top: -335px;
}


/* card10 */
.box10{
    width: 220px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    object-fit: cover;
    box-shadow: -0 1px 10px rgb(182, 243, 182);
    margin-left: 1400px;
    margin-top: -350px;
}

.img10{
    width: 210px;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-left: 4px;
}

.name10{
    border: 1px white;
    width: 210px;
    height: 20px;
    margin-left: 7px;
    margin-top: -40px;
}

.yozuv10{
    margin-left: 7px;
    margin-top: -20px;

}

.yulduz10{
    margin-left: 10px;
    margin-top: -20px;
}

.eye10{
    margin-left: 170px;
    margin-top: -40px;
}

.btn10{
    width: 210px;
    height: 30px;
    background: #fff;
    border: 1px solid #00b800;
    color: #00b800;
    border-radius: 6px;
    margin-left: 7px;
    margin-top: -100px;
}

.top10{
    border: 1px rgb(235, 11, 235);
    background-color: rgb(231, 44, 248);
    width: 35px;
    height: 30px;
    border-radius: 0 0 17px 17px;
    margin-left: 7px;
    position: absolute;
    margin-top: -335px;
}

#emoji10 {
    margin-left: 195px;
    margin-top: -335px;
}